footer li, footer a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .9em;
}

.policity {
  text-decoration: underline !important;
}

.socials svg path {
  transition: .3s;
}

.socials svg:hover path:first-child {
  fill: var(--bs-primary);
}

footer .nav-link {
  color: var(--bs-primary);
  opacity: 0.8;
  transition: opacity 0.3s;
}

footer .nav-link:hover {
  opacity: 1;
}

@media (max-width: 575.98px) {
  footer div div.row:nth-child(2) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
